.error,
.message {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
}

.error {
  color: red;
  background-color: rgb(247, 204, 204);
  border-color: red;
}

.message {
  color: green;
  background-color: lightgreen;
  border-color: green;
}
